In [39]:
# cursor.execute("DROP PROCEDURE IF EXISTS PeakHours")
# cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus;")

In [ ]:
# Implement and query stored procedures
""""
In this exercise you must create a pool of connections and 
get a connection from the pool to implement the stored procedures to complete the following tasks:

Establish a connection by importing MySQLConnectionPool and creating a pool with two connections.

Create and call a stored procedure named PeakHours that 
identifies the peak, or busiest hour, for the restaurant based on the number of bookings.

Create and call a stored procedure named GuestStatus that 
outputs status of each guestâ€™s order based on which employee is assigned to the order.

Stored procedures are created to carry out routine operations on MySQL databases. 
They are consistent and make sure that the written SQL queries in the procedures are executed in the same way every time you call the stored procedure.

A stored procedure is created only once, and you store it in the MySQL database. 
You can call the stored procedures as many times as you need in your Python-based application.

The tasks and the steps that you must follow to complete each one are as follows:
"""

In [ ]:
# Task 1: Establish a connection

In [1]:
# Step one: Import MySQLConnectionPool
#install connector api using the command below.
!pip install mysql-connector-python
from mysql.connector.pooling import MySQLConnectionPool

Requirement already satisfied: mysql-connector-python in c:\users\mingt\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\mingt\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
# Step two: Import Error

from mysql.connector import Error

In [3]:
# Step three: Create a pool named pool_a with two connections.
# Use a try-except block to handle any possible errors. 

# database configuration; High PII changed after running
dbconfig={
    "database":"little_lemon_db", 
    "user":"<USERNAME>", 
    "password":"<password>"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_a",
                           pool_size = 3, #default is 5
                           **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 3

In [4]:
# Step four: Obtain a connection from pool_a and 
# create a cursor object to communicate with the database.

# Obtain a connection from pool_a
connection_1 = pool.get_connection()
connection_1.connection_id
print("MySQL server version is:", connection_1.get_server_info())

# Create a cursor object to communicate with the database.
cursor = connection_1.cursor()

MySQL server version is: 8.0.40

In [5]:
# Recae tables in Database "little_lemon"
cursor.execute("SHOW TABLES")
results = cursor.fetchall()
for i in results:
    # print(i); drop_query = "DROP TABLE IF EXISTS " + i[0];
    print("Table: " + i[0])

Table: bookings
Table: employees
Table: menuitems
Table: menus
Table: orders

In [21]:
# Task 2: Implement a stored procedure called PeakHours

#Step one: Write a SQL CREATE PROCEDURE query for PeakHours
# Use HOUR to extract the hour part from the BookingSlot.
# Use COUNT on hour to count the number of bookings.
# Use GROUP BY on booking hour.
# Use ORDER BY on the number of bookings in descending order.

query_PeakHours ="""
CREATE PROCEDURE PeakHours()
BEGIN
SELECT HOUR(BookingSlot) AS Hour, COUNT(HOUR(BookingSlot)) AS n_Hour
FROM Bookings
GROUP BY Hour
ORDER BY n_Hour DESC;
END
"""
# Step two: Run the stored procedure query by invoking execute module on the cursor.
cursor.execute(query_PeakHours)

In [6]:
# Step three: Invoke callproc to call the stored procedure.
cursor.callproc("PeakHours")

# Step four: Fetch the results in a variable called dataset.
results = next( cursor.stored_results() )
dataset = results.fetchall()

In [7]:
# Step five: Extract the names of the columns.
# Step six: Print the names of the columns.
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)

['Hour', 'n_Hour']

In [8]:
# Step seven: Print the sorted data using for loop.
for i in dataset:
    print(i)

(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [9]:
for result in dataset:
    print("Hour: ",result[1],"<<>>", result[0], "Booking/s")

Hour:  2 <<>> 19 Booking/s
Hour:  1 <<>> 15 Booking/s
Hour:  1 <<>> 17 Booking/s
Hour:  1 <<>> 18 Booking/s
Hour:  1 <<>> 20 Booking/s

In [10]:
# RECAP Bookings
cursor.execute("DESC Bookings")
desc_Bookings = cursor.fetchall()
for i in desc_Bookings:
    print(i)

('BookingID', b'int', 'NO', 'PRI', None, 'auto_increment')
('TableNo', b'int', 'YES', '', None, '')
('GuestFirstName', b'varchar(100)', 'NO', '', None, '')
('GuestLastName', b'varchar(100)', 'NO', '', None, '')
('BookingSlot', b'time', 'NO', '', None, '')
('EmployeeID', b'int', 'YES', '', None, '')

In [11]:
# RECAP Employees
cursor.execute("DESC Employees")
desc_Employees = cursor.fetchall()
for i in desc_Employees:
    print(i)

('EmployeeID', b'int', 'NO', 'PRI', None, 'auto_increment')
('Name', b'varchar(255)', 'YES', '', None, '')
('Role', b'varchar(100)', 'YES', '', None, '')
('Address', b'varchar(255)', 'YES', '', None, '')
('Contact_Number', b'int', 'YES', '', None, '')
('Email', b'varchar(255)', 'YES', '', None, '')
('Annual_Salary', b'varchar(100)', 'YES', '', None, '')

In [12]:
cursor.column_names

('Field', 'Type', 'Null', 'Key', 'Default', 'Extra')

In [16]:
cursor.execute("DROP PROCEDURE GuestStatus")

In [17]:
# Task 3: Implement a stored procedure GuestStatus
# Step one: Write a SQL CREATE PROCEDURE query for GuestStatus.
# Step two: Combine the guestâ€™s first and last name from the booking column using CONCAT. 

# Step three: Use CASE to implement the following statuses for each guestâ€™s order:
# If the Role in the Employee table is Manager or Assistant Manager then the guestâ€™s order status is Ready to pay
# If the Role in the Employee table is Head Chef then the status is Ready to serve
# If the Role in the Employee table is Assistant Chef then the status is Preparing Order
# If the Role in the Employee table is Head Waiter then the status is Order served

# Step four: LEFT JOIN Bookings table with Employees ON EmployeeID
# Step five: Run the stored procedure query by invoking execute module on the cursor.

query_GuestStatus ="""
CREATE PROCEDURE GuestStatus()
BEGIN
SELECT 
CONCAT(Bookings.GuestFirstname, ' ', Bookings.GuestLastname) AS GuestFullName,
CASE 
WHEN Role IN ('Manager', 'Assistant Manager') THEN "Ready to serve"
WHEN Role IN ('Head Chef') THEN "Ready to pay"
WHEN Role IN ('Assistant Chef', 'Assistant Manager') THEN "Preparing Order"
WHEN Role IN ('Head Waiter') THEN "Order served"
ELSE "UNKNOWN STATUS"
END AS Status
FROM Bookings
LEFT JOIN Employees
ON Bookings.EmployeeID = Employees.EmployeeID;
END
"""
# Step two: Run the stored procedure query by invoking execute module on the cursor.
cursor.execute(query_GuestStatus)

In [13]:
# Step six: Invoke callproc to call the stored procedure.
cursor.callproc("GuestStatus")
results = next( cursor.stored_results() )

# Step seven: Fetch the results in a variable called dataset.
dataset = results.fetchall()

# Step eight: Extract the names of the columns.
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Step nine: Print the names of the columns.
print(columns)

['GuestFullName', 'Status']

In [15]:
# Step ten: Print the sorted data using for loop.

for row_i in dataset:
    print(row_i)

('Anna Iversen', 'Ready to serve')
('Joakim Iversen', 'Ready to serve')
('Vanessa McCarthy', 'Ready to pay')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to serve')
('Diana Pinto', 'Order served')

In [16]:
# Step eleven: Close the connection to return it back to the pool.
if connection_1.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection_1.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.